.about-section {
  padding-bottom: 40px;
  padding-right: 10px;
}
.about-row {
  display: flex;
  margin-left: 270px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
.about-img {
  width: 600px;
  height: 380px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  border: 4px solid #f29fc7;
}
.about-content {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 50px;
  width: 100%;
  padding-right: 30px;
  display: block;
}
.about-content .about-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.about-content h1 {
  font-family: cursive;
  font-weight: 700;
  color: #f159a2;
  font-size: 50px;
  border-bottom: 2px dotted #3b8ff3;
}
.about-content p {
  text-align: justify;
}

@media (max-width: 600px) {
  .about-row {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: block;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
  .about-img {
    max-width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-inline: auto;
  }
  .about-img img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 4px solid #f29fc7;
  }
  .about-content {
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 0px;
    width: 100%;
    padding-right: 0px;
    display: block;
  }
  .about-content .about-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .about-content p {
    text-align: justify;
    padding-inline: 20px;
    padding-bottom: 20px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
@media (max-width: 480px) {
  .about-img {
    max-width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-inline: auto;
  }
  .about-img img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 4px solid #f29fc7;
  }
}
