.sidebar-section {
  display: flex;
  background-color: black;
  background-image: url(../../assets/Images/cover.png);
  background-position-x: 95%;
  background-position-y: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.sidebar {
  height: 100vh;
  width: 90px;
  background-color: #1e1e2c;
  position: fixed;
  transition: 0.5s ease;
}
.sidebar-toggle {
  width: 230px;
  transition: 0.5s ease;
}
.sidebar-toggle-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-toggle-icons p svg {
  background-color: #f29fc7;
  color: white;
  margin-top: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .sidebar-section {
    background-image: url("../../assets/Images/mobile-cover.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: contain;
  }
}
@media (max-width:480px){
  .sidebar-section {
    display: flex;
    background-color: black;
    background-image: url("../../assets/Images/mobile-cover.png");
    background-position-x: 107%;
    background-position-y: center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}